
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<p>Welcome and thank you for choosing FreeLancer as your provider for quality and afforable I.T services consultancy </p>

<div class=" align-content-center">

    <p> Let me lick you i see how you taste</p>
</div>

