@using Microsoft.AspNetCore.Identity
@using FreeLancers4.Areas.Identity.Data

@inject SignInManager<FreeLancers4User> SignInManager
@inject UserManager<FreeLancers4User> UserManager

@{
    ViewData["Title"] = "Home Page";
    ViewData["name"] = "home";
}

<div class="body-container">
    <div class="body-div">
        <div class="welcome-home-image">
            <div class="welcome-home-actual-image">
                <img src="~/Assets/images/on_black_logo.png" alt="Freelancers4 on Black Logo">
            </div>
        </div>
        <div class="welcome">Welcome</div>
        <div class="welcome-message">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit error earum quam cumque temporibus architecto nihil consectetur adipisci quo accusamus iusto commodi voluptatibus, minus vitae pariatur sit. Nobis, magnam provident?</div>
        <div class="signin-button">
            @if (SignInManager.IsSignedIn(User))
            {
                <a asp-area="" asp-controller="Projects" asp-action="Index"><button>Back to account</button></a>
            }
            else
            {
                <a asp-area="Identity" asp-page="/Account/Login"><button>Sign In</button></a>
            }
        </div>
    </div>
</div>