@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["name"] = "privacy";
}

<div class="description-pages-container">
    <div class="description-pages-left-section">
        <div class="description-pages-left-section-title">@ViewBag.Title</div>
        <div class="description-pages-left-section-content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae laudantium, in culpa ab alias rem corporis deserunt accusantium eveniet mollitia quaerat exercitationem? Molestiae aperiam qui possimus, fugit ad itaque minus!
        </div>
    </div>
</div>