@model FreeLancers4.Models.History

@{
    ViewData["Title"] = "Create";
    ViewData["name"] = "history-create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inputs-container-holder">
    <div class="inputs-container">
        <div class="inputs-title">@ViewBag.Title</div>
        <div class="inputs-subtitle">Edit Work</div>

        <form asp-action="Edit">
            <input type="hidden" asp-for="ID" />
            <div class="input-div">
                <label asp-for="UserName"></label>
                <div class="actual-input">
                    <input asp-for="UserName" placeholder="Enter project title">
                </div>
                <span asp-validation-for="UserName" class="error"></span>
            </div>
            <div class="input-div">
                <label asp-for="Proffesion"></label>
                <div class="actual-input">
                    <input asp-for="Proffesion" placeholder="Enter post date">
                </div>
                <span asp-validation-for="Proffesion" class="error"></span>
            </div>
            <div class="input-div">
                <label asp-for="Project"></label>
                <div class="actual-input">
                    <input asp-for="Project" placeholder="Enter description">
                </div>
                <span asp-validation-for="Project" class="error"></span>
            </div>
            <div class="input-div">
                <label asp-for="Rating"></label>
                <div class="actual-input">
                    <input asp-for="Rating" placeholder="Enter tech needed">
                </div>
                <span asp-validation-for="Rating" class="error"></span>
            </div>
            <div class="input-div">
                <label asp-for="completeDate"></label>
                <div class="actual-input">
                    <input asp-for="completeDate" placeholder="Enter skills">
                </div>
                <span asp-validation-for="completeDate" class="error"></span>
            </div>
            <div class="inputs-button">
                <button type="submit">Save</button>
            </div>
        </form>

        <a asp-action="Index">
            <div class="forgot-password">Back to List</div>
        </a>

    </div>
</div>
